// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/song/song";

@import "../pages/collections/collections";

@import "../pages/numpad/numpad";

@import "../pages/search/search";

@import "../pages/more/more";

body {
  font-family: 'Lato', sans-serif;
}

ion-tabbar {
  background: white;
  border-top: none;
}

.toolbar-background {
  background: map-get($map: $colors, $key: primary);
  border-color: map-get($map: $colors, $key: primary);
}

.toolbar-title {
  color: white;
}

.tab-button {
  color: #4a4a4a;
}

.bar-button-default {
  color: map-get($map: $colors, $key: secondary);
}
